---
const {posts} = Astro.props
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/").filter((item) => item !== "")
const docPath = currentPath[currentPath.length - 1]

---
{
    posts.map((post: { slug: string; title: unknown; }) => (
      <li class="text-gray-500">
        <a class={docPath === post.slug ? "active" : ""} href={`/doc/${post.slug}/`}>
          <h2>{post.title}</h2>
        </a>
      </li>
    ))
  }