---
import "../global.css";
import { contentfulClient, type DocPost } from "../lib/contentful";
import { Image } from "astro:assets";
import SidebarLink from "../components/SidebarLink.astro";

import logoImage from "../img/logo_cv2b.svg"

const entries = await contentfulClient.getEntries<DocPost>({
  content_type: "knowledgeBase",
});

const mapToProps = (entry: any) => {
  const { title, slug, category, order, description, content, tags } = entry.fields;
  return {
    title,
    slug,
    category,
    order,
    description,
    content,
    tags,
  };
};

const generalPosts = entries.items
  .filter((item) => {
    const { category } = item.fields;
    return category === "General";
  })
  .sort((a, b) => a.fields.order - b.fields.order)
  .map(mapToProps);


const templatePosts = entries.items.filter((item) => {
  const { category } = item.fields;
  return category === "Templates";
}).sort((a, b) => a.fields.order - b.fields.order).map(mapToProps);

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation | CvToBlind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col items-center h-screen w-full">
    <header
    class="z-50 flex w-full flex-wrap border-b  sm:flex-nowrap sm:justify-start sm:py-0 text-neutral-content"
  >
  <nav
        class="relative mx-auto w-full max-w-7xl px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 py-6"
        aria-label="Global"
      >
      <a class="flex-none text-xl font-semibold" href="/" aria-label="Brand">
        <div class="flex space-x-4">
          <Image
            src={logoImage}
            width={150}
            height={50}
            alt="Picture of the author"
          />
          <div class="badge">Documentation</div>
        </div>
      </a>
      <div class="">
        <a href="https://app.cvtoblind.com" class="btn btn-ghost btn-sm text-gray-500">
          Go to App
        </a>
        <a href="hello@cvtoblind.com" class="btn btn-ghost btn-sm text-gray-500">
          Contact Us
        </a>
      </div>
    </nav>
    
  </header>
    <div class="max-w-7xl w-full">
      <div class="flex flex-grow h-[calc(100vh-81px)]">
        <!-- Sidebar -->
        <div class="bg-white w-64 p-4 space-y-4 border-r pt-8">
          <nav>
            <ul class="menu rounded-box space-y-1">
              <li class="font-semibold">
                <a href="#">
                  Welcome
                </a>
              </li>
              <SidebarLink posts={generalPosts}               />
              <li class="font-semibold">
                <a href="#">
                  Templates
                </a>
              </li>
              <SidebarLink posts={templatePosts}               />
              
            </ul>
          </nav>
        </div>

        <!-- Content -->
        <div class="flex-1 p-10">
          <article>
            <slot />
            <!-- your content is injected here -->
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
