---
import "../global.css";
import { contentfulClient, type DocPost } from "../lib/contentful";
import { Image } from "astro:assets";

import logoImage from "../img/logo_cv2b.svg"

const entries = await contentfulClient.getEntries<DocPost>({
  content_type: "knowledgeBase",
});

const posts = entries.items.map((item) => {
  const { title, slug, category, description, content, tags } = item.fields;
  return {
    title,
    slug,
    category,
    description,
    content,
    tags,
  };
});


const generalPosts = entries.items.filter((item) => {
  const { category } = item.fields;
  return category === "General";
}).sort().map((item) => {
  const { title, slug, category, description, content, tags } = item.fields;
  return {
    title,
    slug,
    category,
    description,
    content,
    tags,
  };
});

// console.log(generalPosts)

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation | CvToBlind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="flex flex-col items-center h-screen w-full">
    <header
    class="z-50 flex w-full flex-wrap border-b  sm:flex-nowrap sm:justify-start sm:py-0 text-neutral-content"
  >
  <nav
        class="relative mx-auto w-full max-w-7xl px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8 py-6"
        aria-label="Global"
      >
      <a class="flex-none text-xl font-semibold" href="/" aria-label="Brand">
        <div class="flex space-x-4">
          <Image
            src={logoImage}
            width={150}
            height={50}
            alt="Picture of the author"
          />
          <!-- <div class="badge badge-secondary mt-1">Documentation</div> -->
        </div>
      </a>
    </nav>
    
  </header>
    <div class="max-w-7xl w-full">
      <div class="flex flex-grow h-[calc(100vh-72px)]">
        <!-- Sidebar -->
        <div class="bg-white w-64 p-4 space-y-4 border-r-2 pt-8">
          <nav>
            <ul class="menu rounded-box">
              <li class="font-semibold">
                <a href="#">
                  Welcome
                </a>
              </li>
              {
                generalPosts.map((post) => (
                  <li class="text-gray-500">
                    <a href={`/doc/${post.slug}/`}>
                      <h2>{post.title}</h2>
                    </a>
                  </li>
                ))
              }
              <!-- <li class=" text-gray-500">
                <a href="/doc/getting-started">
                  What is CvToBlind?
                </a>
              </li>
              <li class=" text-gray-500">
                <a href="/doc/getting-started">
                  <h2>Getting Started</h2>
                </a>
              </li>
              <li class=" text-gray-500">
                <a href="/doc/getting-started">
                  <h2>Support</h2>
                </a>
              </li> -->
              <!-- <li class="font-bold text-xl">
                Templates
              </li>
              <li class="">
                <a href="/doc/templates-overview">
                  <h2>Overview</h2>
                </a>
              </li>
              <li class="">
                <a href="/doc/templates-overview">
                  <h2>Adding templates</h2>
                </a>
              </li>
              <li class="">
                <a href="/doc/templates-overview">
                  <h2>Creating templates</h2>
                </a>
              </li> -->
              
            </ul>
          </nav>
        </div>

        <!-- Content -->
        <div class="flex-1 p-10">
          <article>
            <slot />
            <!-- your content is injected here -->
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
